<html>

<h1>Minter</h1>

<form name = "mint" action = 'http://127.0.0.1:8000/mint' method= "get" id = 'mint' class="form-inline">
<div class="form-group">
<input type="text" value='' id = 'mint' name = 'mint' placeholder='# of Arks to Mint'/>
<input type="text" value='' id = 'minter' name = 'minter' placeholder='Minter ID'/>
<input type="submit" />
</div>
</form>

<h1>Bind</h1>

<form name = "bind" action = 'http://127.0.0.1:8000/bind' method= "get" id = 'bind' class="form-inline">
<div class="form-group">
<input type="text" value='' id = 'bind' name = 'bind' placeholder='Enter URL to Bind'/>
<input type="text" value='' id = 'ark' name = 'ark' placeholder='Ark ID'/>
<input type="submit" />
</div>
</form>


<h1>Resolve</h1>

<form name = "resolve" action = 'http://127.0.0.1:8000/resolve' method= "get" id = 'resolve' class="form-inline">
<div class="form-group">
<input type="text" value='' id = 'resolve' name = 'resolve' placeholder='Ark ID'/>
<input type="submit" />
</div>
</form>
</div>